@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<Eventos.Models.EventoData>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if(User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Fecha >= DateTime.Today)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cupo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lugar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detalle)
                    </td>
                    
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete </a>
                        }
                        @if (item.Cupo > 0 )
                        {
                        <a asp-action="Details" asp-route-id="@item.ID">Reservar</a>
                        }
                    </td>
                    
                </tr>
                }
            }
        </tbody>
</table>
